@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  color: #252525;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  height: 13em;
  background: #252525;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */
header .navbar .navbar-toggler {
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Home */
.home {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.home video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.home .showcase-header {
  position: relative;
}

.home .showcase-header h3 {
  font-size: 5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .home .showcase-header h3 {
    font-size: 4rem;
  }
}

.home .showcase-header h3 span {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .home .showcase-header h3 span {
    font-size: 2rem;
  }
}

.home .showcase-header .btn {
  padding: 13px 18px;
  border: none;
  border-radius: 3px;
  background-color: #340285;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  font-size: 1.5em;
}

.home .showcase-header .btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* About */
.about .about-content .title {
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #252525;
}

.about .about-content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 1rem;
}

.about .about-content .link-btn {
  padding: 13px 18px;
  border: none;
  border-radius: 3px;
  background-color: #340285;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: 500;
}

.about .about-content .link-btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.about .about-content .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem auto;
}

.about .about-content .icons-container .icons {
  padding: 0.5rem 1rem;
  border: 1px solid #340285;
  color: #340285;
  text-align: center;
}

.about .about-content .icons-container .icons i {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about .about-content .icons-container .icons h3 {
  font-size: 1rem;
  text-transform: capitalize;
  color: #340285;
}

/* Menu */
.menu {
  background: #ddd;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.menu .box-container .box {
  text-align: center;
  padding: 1.5rem 0rem;
  border-radius: 0.5rem;
}

.menu .box-container .box:hover {
  background: #f5f5f5;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.menu .box-container .box img {
  height: 10rem;
  margin-bottom: 2rem;
}

.menu .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.menu .box-container .box p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 0;
}

.menu .box-container .box .link-btn {
  padding: 13px 18px;
  border: none;
  border-radius: 3px;
  background-color: #340285;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: 500;
}

.menu .box-container .box .link-btn:hover {
  background-color: #252525;
}

/* Gallery */
.gallery .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.gallery .box-container .box {
  overflow: hidden;
  position: relative;
  height: 25rem;
}

.gallery .box-container .box:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.gallery .box-container .box:hover img {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.gallery .box-container .box:hover .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  background: #f5f5f5;
  text-align: center;
  padding: 3rem 2rem;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  padding-top: 4rem;
}

.gallery .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.gallery .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #555;
  margin-bottom: 1rem;
}

.gallery .box-container .box .content .link-btn {
  padding: 13px 18px;
  border: none;
  border-radius: 3px;
  background-color: #340285;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: 500;
}

.gallery .box-container .box .content .link-btn:hover {
  background-color: #252525;
}

/* Reviews */
.reviews {
  background: #ddd;
}

.reviews .reviews-container img {
  border-radius: 50%;
}

.reviews .reviews-container .stars {
  margin-top: 1rem;
}

.reviews .reviews-container .stars i {
  font-size: 1.3rem;
  color: #340285;
}

/* Blogs */
.blogs {
  background-color: #252525;
}

.blogs .blog:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/* Contact */
.contact .contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  max-width: 60rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .contact-container .box {
  border: 1px solid #340285;
  border-radius: 0.3rem;
  padding: 1rem;
  text-align: center;
}

.contact .contact-container .box:hover i {
  background: #340285;
  color: #f5f5f5;
}

.contact .contact-container .box i {
  line-height: 6rem;
  border: 0.1rem solid #340285;
  color: #340285;
  font-size: 2rem;
  padding: 10px 15px;
}

.contact .contact-container .box h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.contact .contact-container .box p {
  color: #555;
  line-height: 0.5;
}

.contact form .box {
  width: 80%;
  display: block;
  margin: 0.3rem auto;
  padding: 0.3rem 1rem;
  border: none;
  border-bottom: 1px solid #252525;
  font-size: 0.9rem;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.contact form .box:focus {
  outline: none;
}

.contact form .box:focus::-webkit-input-placeholder {
  color: #ddd;
}

.contact form .box:focus:-ms-input-placeholder {
  color: #ddd;
}

.contact form .box:focus::-ms-input-placeholder {
  color: #ddd;
}

.contact form .box:focus::placeholder {
  color: #ddd;
}

.contact form .box textarea {
  height: 0.8rem;
}

.contact form .link-btn {
  padding: 13px 18px;
  border: none;
  border-radius: 3px;
  background-color: #340285;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 4px 13px;
}

.contact form .link-btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* Footer */
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/newsletter-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/newsletter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.footer h3 {
  font-size: 2rem;
  color: #f5f5f5;
  text-transform: uppercase;
}

.footer p {
  padding: 0.5rem 0;
  font-size: 1.3rem;
  color: #f5f5f5;
}

.footer form {
  margin: 0 auto;
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .footer form {
    width: 80%;
  }
}

.footer form input {
  border: none;
  border-radius: 0.2em;
}

.footer form .link-btn {
  padding: 13px 18px;
  border: none;
  border-radius: 3px;
  background-color: #340285;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 18px;
  margin: 0 auto;
}

.footer form .link-btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (max-width: 576px) {
  .footer form .link-btn {
    font-size: small;
    padding: 5px;
  }
}

.footer form .email {
  width: 100%;
  padding: 0 1rem;
}

.footer form .email:focus {
  outline: none;
}

.footer .social-icons {
  max-width: 30rem;
}

.footer .social-icons i {
  color: #f5f5f5;
}

.footer .social-icons i:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.footer .btn-up a i {
  color: #f5f5f5;
  font-size: 1.2rem;
}
