@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

$white-color: #f5f5f5;
$black-color: #252525;
$indigo-color: #340285;
$grey-color: #555;
$lightGrey-color: #ddd;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: $white-color;
  color: $black-color;
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.8em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  height: 13em;
  background: $black-color;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@mixin gridTemplate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 2rem;
  justify-items: center;
}

@mixin linkButton {
  padding: 13px 18px;
  border: none;
  border-radius: 3px;
  background-color: $indigo-color;
  color: $white-color;
  font-size: 1.1rem;
  font-weight: 500;
}

@mixin pulse {
  animation: pulse;
  animation-duration: 2s;
}

@mixin flash {
  animation: flash;
  animation-duration: 1s;
}

@mixin boxShadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header {
  .navbar {
    .navbar-toggler {
      border: none;
      box-shadow: none !important;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }

    .navbar-nav li:hover {
      text-decoration: underline;
    }
    @media (max-width: 992px) {
      .navbar-nav li {
        width: 100%;
        padding: 15px;
        text-align: center;
        background-color: $black-color;
      }
    }
  }
}

.home {
  filter: brightness(85%);

  video {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(50%);
  }

  .showcase-header {
    position: relative;

    h3 {
      font-size: 5rem;
      font-weight: 600;

      @media (max-width: $medium-screen) {
        font-size: 4rem;
      }

      span {
        font-size: 3rem;

        @media (max-width: $medium-screen) {
          font-size: 2rem;
        }
      }
    }

    .btn {
      @include linkButton();
      padding: 0.7rem 1.5rem;
      font-size: 1.5em;

      &:hover {
        @include flash;
      }
    }
  }
}

.about {
  .about-content {
    .title {
      padding-top: 1rem;
      font-size: 3rem;
      text-transform: capitalize;
      color: $black-color;
    }

    p {
      padding: 1rem 0;
      font-size: 1.6rem;
      line-height: 1.5;
      color: $grey-color;
      margin-bottom: 1rem;
    }

    .link-btn {
      @include linkButton;

      &:hover {
        @include flash;
      }
    }

    .icons-container {
      display: flex;
      justify-content: space-around;
      margin: 3rem auto;

      .icons {
        padding: 0.5rem 1rem;
        border: 1px solid $indigo-color;
        color: $indigo-color;
        text-align: center;

        &:hover {
          background-color: $indigo-color;
          color: $white-color;
        }

        i {
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }

        h3 {
          font-size: 1rem;
          text-transform: capitalize;
          color: $indigo-color;

          &:hover {
            color: $white-color;
          }
        }
      }
    }
  }
}

.menu {
  background: $black-color;
  color: $white-color;

  .container {
    @include gridTemplate;

    .box {
      width: 100%;
      text-align: center;
      padding: 2rem 0;
      margin: 10px 0;
      border: 2px solid $lightGrey-color;
      border-radius: 0.5rem;
      justify-self: center;

      img {
        height: 10rem;
        margin-bottom: 2rem;
      }

      h3 {
        font-size: 2rem;
        text-transform: capitalize;
      }

      p {
        font-size: 1.2em;
        color: $lightGrey-color;
      }

      .link-btn {
        @include linkButton;
        background-color: $lightGrey-color;
        color: $black-color;

        &:hover {
          background-color: $indigo-color;
          color: $white-color;
        }
      }
    }
  }
}

.gallery {
  .container {
    @include gridTemplate;

    .box {
      overflow: hidden;
      position: relative;
      height: 25rem;

      @media (max-width: $small-screen) {
        margin: 0 2em;
      }

      &:hover {
        @include boxShadow;
        @include pulse;
      }

      img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}

.reviews {
  background: $lightGrey-color;

  .container {
    img {
      border-radius: 50%;
    }

    .stars {
      margin-top: 1rem;

      i {
        font-size: 1.3rem;
        color: $indigo-color;
      }
    }
  }
}

.blogs {
  background-color: $black-color;
}

.contact {
  .contact-container {
    @include gridTemplate;
    max-width: 60rem;
    margin-bottom: 5rem;

    @media (max-width: $medium-screen) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  form {
    .box {
      width: 80%;
      display: block;
      margin: 0.3rem auto;
      padding: 0.3rem 1rem;
      border: none;
      border-bottom: 1px solid $black-color;
      font-size: 0.9rem;
      outline: none;
      box-shadow: none;
      background: transparent;

      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        color: $lightGrey-color;
      }

      textarea {
        height: 0.8rem;
      }
    }

    .link-btn {
      @include linkButton;
      padding: 4px 13px;

      &:hover {
        @include flash;
      }
    }
  }
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  a {
    color: $white-color;

    &:hover {
      color: $grey-color;
    }
  }

  p,
  a,
  span {
    font-size: 0.9rem;
  }

  img {
    width: 50px;
    padding-top: 5px;
  }

  .bi:hover {
    @include flash;
  }
}
