@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

$white-color: #f5f5f5;
$black-color: #252525;
$indigo-color: #340285;
$grey-color: #555;
$lightGrey-color: #ddd;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $white-color;
  color: $black-color;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: $white-color;
}
::-webkit-scrollbar-thumb {
  background: $black-color;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn:active,
.btn:focus,
.btn.active {
  box-shadow: none;
  outline: none !important;
}

@mixin gridTemplate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

@mixin linkButton {
  padding: 13px 18px;
  border: none;
  border-radius: 3px;
  background-color: $indigo-color;
  color: $white-color;
  font-size: 1.1rem;
  font-weight: 500;
}

@mixin pulse {
  animation: pulse;
  animation-duration: 2s;
}

@mixin flash {
  animation: flash;
  animation-duration: 1s;
}

@mixin boxShadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Header */
header {
  .navbar {
    .navbar-toggler {
      border: none;
      box-shadow: none !important;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
  }
}

/* Home */
.home {
  filter: brightness(85%);

  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(50%);
  }

  .showcase-header {
    position: relative;

    h3 {
      padding: 1rem 0;
      font-size: 4rem;

      @media (max-width: $large-screen) {
        font-size: 3rem;
      }
    }

    .btn:hover {
      @include flash;
    }
  }
}

/* About */
.about {
  .about-content {
    .title {
      padding-top: 1rem;
      font-size: 3rem;
      text-transform: capitalize;
      color: $black-color;
    }

    p {
      padding: 1rem 0;
      font-size: 1.6rem;
      line-height: 1.5;
      color: $grey-color;
      margin-bottom: 1rem;
    }

    .link-btn {
      @include linkButton;

      &:hover {
        @include flash;
      }
    }

    .icons-container {
      display: flex;
      justify-content: space-around;
      margin: 3rem auto;

      .icons {
        padding: 0.5rem 1rem;
        background: $lightGrey-color;
        text-align: center;

        i {
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }
        h3 {
          font-size: 1rem;
          text-transform: capitalize;
          color: $grey-color;
        }
      }
    }
  }
}

/* Menu */
.menu {
  background: $lightGrey-color;

  .box-container {
    @include gridTemplate;

    .box {
      text-align: center;
      padding: 1.5rem 0rem;
      border-radius: 0.5rem;

      &:hover {
        background: $white-color;
        @include boxShadow;
        @include pulse;
      }

      img {
        height: 10rem;
        margin-bottom: 2rem;
      }

      h3 {
        font-size: 2rem;
        text-transform: capitalize;
      }

      p {
        font-size: 1.5rem;
        color: $grey-color;
        margin-bottom: 0;
      }

      .link-btn {
        @include linkButton;

        &:hover {
          background-color: $black-color;
        }
      }
    }
  }
}

/* Gallery */
.gallery {
  h1 {
    color: $black-color;
  }

  .box-container {
    @include gridTemplate;

    .box {
      overflow: hidden;
      position: relative;
      height: 25rem;

      &:hover {
        @include boxShadow;
        @include pulse;

        img {
          transform: translateY(-100%);
        }

        .content {
          transform: translateY(0);
        }
      }

      img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        background: $white-color;
        text-align: center;
        padding: 3rem 2rem;
        height: 100%;
        width: 100%;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        padding-top: 4rem;

        h3 {
          font-size: 2rem;
          text-transform: capitalize;
        }

        p {
          padding: 1rem 0;
          font-size: 1.5rem;
          line-height: 2;
          color: $grey-color;
          margin-bottom: 1rem;
        }

        .link-btn {
          @include linkButton;

          &:hover {
            background-color: $black-color;
          }
        }
      }
    }
  }
}

/* Reviews */
.reviews {
  background: $lightGrey-color;

  .reviews-container {
    img {
      border-radius: 50%;
    }

    h3,
    p {
      color: $black-color;
    }

    .stars {
      margin-top: 1rem;

      i {
        font-size: 1.3rem;
        color: $indigo-color;
      }
    }
  }
}

/* Blogs */
.blogs {
  background-color: $black-color;
}

/* Contact */
.contact {
  .contact-container {
    @include gridTemplate;
    max-width: 60rem;
    margin-bottom: 5rem;

    @media (max-width: $medium-screen) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .box {
      border: 1px solid $black-color;
      padding: 1rem;
      text-align: center;

      &:hover i {
        background: $indigo-color;
        color: $white-color;
      }

      i {
        line-height: 6rem;
        border: 0.1rem solid $indigo-color;
        color: $indigo-color;
        font-size: 2rem;
        padding: 10px 15px;
      }

      h3 {
        font-size: 1.5rem;
        text-transform: capitalize;
      }

      p {
        color: $grey-color;
        line-height: 0.5;
      }
    }
  }

  form {
    .box {
      border: 1px solid $black-color;
      font-size: 0.9rem;
      width: 80%;
      display: block;
      margin: 0.3rem auto;
      padding: 0.2rem 1rem;

      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        color: $lightGrey-color;
      }

      textarea {
        height: 0.8rem;
      }
    }

    .link-btn {
      @include linkButton;
      padding: 4px 13px;

      &:hover {
        @include flash;
      }
    }
  }
}

/* Footer */
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/newsletter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  h3 {
    font-size: 2rem;
    color: $white-color;
    text-transform: uppercase;
  }

  p {
    padding: 0.5rem 0;
    font-size: 1.3rem;
    color: $white-color;
  }

  form {
    margin: 0 auto;
    max-width: 40rem;
    background: $white-color;
    border-radius: 5px;
    display: flex;

    @media (max-width: $small-screen) {
      width: 80%;
    }

    .link-btn {
      @include linkButton;
      margin: 0 auto;

      &:hover {
        @include flash;
      }
    }
    .email {
      width: 100%;
      padding: 0 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  .social-icons {
    max-width: 30rem;

    i {
      color: $white-color;

      &:hover {
        @include flash;
      }
    }
  }

  .btn-up a i {
    color: $white-color;
  }
}
